<h3>Welcome to ToobSteak!</h3>

<% recent = Show.last(10).reverse %> <!-- Displays the 10 most recent shows in descending order, or nothing if there are no shows. -->
	<p>Recently watched:</p>
	<% if !recent.empty? %> <!-- If there are shows in the database -->
		<% recent.each_index do |s| %>
			<%= link_to recent[s]["name"], "/shows/#{recent[s]["id"]}" %><br \>
		<% end %>
	<% else %>
			<p>No shows have been added.</p>
	<% end %>
	
<br \>
<% results = Show.where(:airday => Time.now.strftime("%a")) %>
	<p>On Today:</p>
	<% if !results.empty? %> <!-- If there are shows today -->
		<% results.each_index do |i| %>
			<% if Time.now.to_s[0,4].to_i - results[i]["lastairyear"].to_i <= 2 %>
				<%= link_to results[i]["name"], "/shows/#{results[i]["id"]}" %><br \>
			<% end %>
		<% end %>
	<% else %>
		<p>None of the added shows are airing today.</p>
	<% end %>
		