<h3>Welcome to ToobSteak!</h3>

<% recent = Show.last(10).reverse %> <!-- Displays the 10 most recent shows in descending order, or nothing if there are no shows. -->
	<p>Recently watched:</p>
	<% if !recent.nil? %> <!-- If there are shows in the database -->
		<% recent.each_index do |s| %>
			<%= link_to recent[s]["name"], "/shows/#{recent[s]["id"]}" %><br \>
		<% end %>
	<% end %>
	
<br \>
<% results = Show.where(:airday => Time.now.strftime("%a")) %>
	<p>On Today:</p>
	<% if !results.empty? %> <!-- If there are shows today -->
		<% results.each_index do |i| %>
			<%= link_to results[i]["name"], "/shows/#{results[i]["id"]}" %><br \>
		<% end %>
	<% else %>
		<p>None of the added shows are airing today.</p>
	<% end %>
		