.container {
  width: 800px;
}

body {
  background: #bbbbbb;
}

header {
  padding-top: 50px;
}

header img {
  padding: 1em;
  background: #888888;
}

section {
  margin-top: 1em;
  margin-left: 15em;
  font-size: 120%;
  padding: 20px;
  background: #888888;
}

section h1 {
  font-size: 200%;
}

/* -------------------------------------Links ----------------------------------- */

a {
  color: #aa0000;
  text-decoration: none;
}

a:hover {
  color: #ee0000;
  text-decoration: underline;
  background: #888888;
}

a:visited {
  color: #cc0000;
}

/* -------------------------------- Navigation -------------------------------- */

nav {
  float: right;
}

nav {
  background-color: white;
  padding: 0 0.7em;
  white-space: nowrap;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

nav ul li a {
  padding: 0 5px;
  font-weight: bold;
}

nav ul li a:visited {
  color: #09c;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* -------------------------------- Round corners -------------------------------- */

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}


/* -------------------------------- footer -------------------------------- */
footer {
  text-align: right;
  margin-top: 10px;
  width: 710px;
  margin-left: auto;
  margin-right: 2em;
}

footer nav {
  float: none;
}

/* -------------------------------- User show page -------------------------------- */

table.profile {
  width: 100%;
  margin-bottom: 0;
}

td.main {
  width: 70%;
  padding: 1em;
}

td.sidebar {
  width: 30%;
  padding: 1em;
  vertical-align: top;
  background: #ffc;
}

div.field, div.actions {
  margin-bottom: 10px;
} 

.field_with_errors {
  margin-top: 10px;
  padding: 1px;
  background-color: #aa0000;
  display: table;
}

.field_with_errors label {
  color: #fff;
}


/* -------------------------------- Error Handling --------------------------------*/
#error_explanation {
  width: 300px;
  border: 2px #aa0000;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #bbbbbb;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #aa0000;
  color: #fff;
}

#error_explanation p {
  color: #aa0000;
  margin-bottom: 0;
  padding: 5px;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: circle;
}

/* show page formating*/

