.container {
  width: 800px;
}

/* box shadow*/
/* via http://robertnyman.com/2010/03/16/drop-shadow-with-css-for-all-web-browsers/ */
.shadow {
	-moz-box-shadow: 3px 3px 4px #000;
	-webkit-box-shadow: 3px 3px 4px #000;
	box-shadow: 3px 3px 4px #000;
}

/* -------------- Round corners ----------------- */

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         30px;
	background: #888888;
	/*background: url('../images/mute-stripes.jpg');*/
	/*background: url('../images/tissue.jpg');*/
}

body {
	background: #bbbbbb; 
	/*background: url('../images/grunge-black.jpg');*/
	font-size: 120%;
}

header {
  padding-top: 1em;
}

header img {
  padding: 1em;
  background: #888888;
}

section {
  margin-top: 1em;
  margin-left: 9em;
  font-size: 120%;
  padding: 1em;
  background: #888888;
}

section h1 {
  font-size: 200%;
}

/* --------------------Links ------------------ */

a {
  color: #aa0000;
  text-decoration: none;
}

nav a:hover {
  color: #ee0000;
  text-decoration: underline;
  background: #777777;
}

a:visited {
  color: #cc0000;
}

/* ---------------- Navigation ------------------ */

nav {
	float: right;	margin-top: 1em;
	background-color: #888888;
	padding: .5em;
	white-space: nowrap;
}

/* --------------- footer ------------------ */
footer {
  text-align: right;
  margin-top: 0.25em;
  width: 700px;
  margin-left: auto;
  
}

footer nav {
  float: none;
}

/* -------------- User show page ----------------- */

table.profile {
  width: 100%;
  margin-bottom: 0;
}

td.main {
  width: 70%;
  padding: 1em;
}

td.sidebar {
  width: 30%;
  padding: 1em;
  vertical-align: top;
  background: #ffc;
}

div.field, div.actions {
  margin-bottom: 10px;
} 


/* --------------- Error Handling ----------------*/

.field_with_errors {
  margin-top: 10px;
  padding: 1px;
  background-color: #880000;
  display: table;
}

.field_with_errors label {
  color: #880000;
}

#error_explanation {
  width: 300px;
  border: 2px #aa0000;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #bbbbbb;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #aa0000;
  color: #fff;
}

#error_explanation p {
  color: #aa0000;
  margin-bottom: 0;
  padding: 5px;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: circle;
}

/* show page formating */
