<table>
  <tr>
    <td>
      <h1>
        User Name
      </h1>
    </td>
    <td>
      <strong>Name</strong> User Name<br />
      <strong>URL</strong>  User Profile URL<br />
    </td>
  </tr>
</table>
