<table>
  <tr>
    <td>
      <h1>Profile Information</h1>
      <strong>Name</strong> <%= @user.name %><br />
	  <strong>Email: </strong>  <%= @user.email %>
    </td>
    <td>
      twitter stuff goes here
    </td>
  </tr>
</table>
