<table>
  <tr>
    <td>
      <h1>Profile Information</h1>
      <strong>User Name:</strong> <br> <%= @user.name %><br />
	  <strong>Email: </strong>  <br> <%= @user.email %>
    </td>
    <td>
    </td>
  </tr>
  <tr>
    <% unless @user.microposts.empty? %>
      <table>
	    My Comments:
        <%= render @microposts %>
      </table>
      <%= will_paginate @microposts %>
    <% end %>
  </tr>
</table>
