<tr>
  <td class="micropost">
    <span class="content"><%= micropost.content %></span> <br />
    <span class="timestamp">
      <font color="gray">Posted <%= time_ago_in_words(micropost.created_at) %> ago.</font>
    </span>
  </td>
</tr>
